<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="HomeStatusWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HomeStatusWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <HomeStatusWindow.Properties.Settings>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowSettings" serializeAs="String">
                <value />
            </setting>
        </HomeStatusWindow.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <HomeStatusWindow.Properties.Settings>
            <setting name="ReconnectTimerInterval" serializeAs="String">
                <value>00:00:30</value>
            </setting>
            <setting name="ReconnectTimeout" serializeAs="String">
                <value>00:01:00</value>
            </setting>
            <setting name="ServerUri" serializeAs="String">
                <value>http://{0}:{1}/api/hub/device-status</value>
            </setting>
            <setting name="ServerName" serializeAs="String">
                <value>172.23.10.3</value>
            </setting>
            <setting name="ServerPort" serializeAs="String">
                <value>80</value>
            </setting>
        </HomeStatusWindow.Properties.Settings>
    </applicationSettings>
</configuration>
